<h1>Cadastrar lembrete</h1>

<div class="well">
  <form #formTarefa="ngForm">

    <div class="form-group">
      <label for="prioridade">Prioridade:</label>
        <select class="form-control"         
        id="prioridade"
        name="prioridade"
        [(ngModel)]="tarefa.prioridade"
        #prioridade="ngModel"
        required>
            <option hidden >Selecione</option>
            <option>Alta</option>
            <option>Media</option>
            <option>Baixa</option>
        </select>

              <div *ngIf="prioridade.errors && (prioridade.dirty || prioridade.touched)"
           class="alert alert-danger">
        <div [hidden]="!prioridade.errors.required">
          Campo obrigatorio
        </div>
      </div>
    </div>


    <div class="form-group">
      <label for="nome">Titulo:</label>
      <input 
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        [(ngModel)]="tarefa.nome"
        #nome="ngModel"
        required> 
      <div *ngIf="nome.errors && (nome.dirty || nome.touched)"
           class="alert alert-danger">
        <div [hidden]="!nome.errors.required">
          Campo obrigatorio
        </div>
      </div>
    </div>

      <div class="form-group">
      <label for="descricao">Lembrete:</label>
      <textarea
        type="text"
        class="form-control"
        id="descricao"
        name="descricao"
        [(ngModel)]="tarefa.descricao"
        #descricao="ngModel"
        required> </textarea> 
              <div *ngIf="descricao.errors && (descricao.dirty || descricao.touched)"
           class="alert alert-danger">
        <div [hidden]="!descricao.errors.required">
          Campo obrigatorio
        </div>
      </div>

    </div>

    <div class="form-group text-center">
      <input 
        type="submit"
        class="btn btn-success"
        (click)="cadastrar()"
        value="Cadastrar"
        [disabled]="!formTarefa.form.valid">
      <a [routerLink]="['/tarefas']"
        class="btn btn-danger">Cancelar</a>
    </div>
  </form>
</div>
